.section-about{
    .section-about-content {
        width: 100%;
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;
            p {
                text-align: justify;;
                
            }

            .right-container{
                .contact {
                    margin-bottom: 10px;
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .social-content{
                display: inline-block;

            }
        }
    }
}